In [2]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
df=pd.read_csv("TrainAndValid.csv",low_memory=False)

In [3]:
df

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000.0,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000.0,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500.0,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000.0,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412693,6333344,10000.0,1919201,21435,149,2.0,2005,NaN,NaN,3/7/2012 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
412694,6333345,10500.0,1882122,21436,149,2.0,2005,NaN,NaN,1/28/2012 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
412695,6333347,12500.0,1944213,21435,149,2.0,2005,NaN,NaN,1/28/2012 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
412696,6333348,10000.0,1794518,21435,149,2.0,2006,NaN,NaN,3/7/2012 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
412697,6333349,13000.0,1944743,21436,149,2.0,2006,NaN,NaN,1/28/2012 0:00,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isna().sum()

SalesID                          0
SalePrice                        0
MachineID                        0
ModelID                          0
datasource                       0
auctioneerID                 20136
YearMade                         0
MachineHoursCurrentMeter    265194
UsageBand                   339028
saledate                         0
fiModelDesc                      0
fiBaseModel                      0
fiSecondaryDesc             140727
fiModelSeries               354031
fiModelDescriptor           337882
ProductSize                 216605
fiProductClassDesc               0
state                            0
ProductGroup                     0
ProductGroupDesc                 0
Drive_System                305611
Enclosure                      334
Forks                       214983
Pad_Type                    331602
Ride_Control                259970
Stick                       331602
Transmission                224691
Turbocharged                331602
Blade_Extension             386715
Blade_Width                 386715
Enclosure_Type              386715
Engine_Horsepower           386715
Hydraulics                   82565
Pushblock                   386715
Ripper                      305753
Scarifier                   386704
Tip_Control                 386715
Tire_Size                   315060
Coupler                     192019
Coupler_System              367724
Grouser_Tracks              367823
Hydraulics_Flow             367823
Track_Type                  310505
Undercarriage_Pad_Width     309782
Stick_Length                310437
Thumb                       310366
Pattern_Changer             310437
Grouser_Type                310505
Backhoe_Mounting            331986
Blade_Type                  330823
Travel_Controls             330821
Differential_Type           341134
Steering_Controls           341176
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   412698 non-null  int64
 1   SalePrice                 412698 non-null  float64
 2   MachineID                 412698 non-null  int64
 3   ModelID                   412698 non-null  int64
 4   datasource                412698 non-null  int64
 5   auctioneerID              392562 non-null  float64
 6   YearMade                  412698 non-null  int64
 7   MachineHoursCurrentMeter  147504 non-null  float64
 8   UsageBand                 73670 non-null   object
 9   saledate                  412698 non-null  object
 10  fiModelDesc               412698 non-null  object
 11  fiBaseModel               412698 non-null  object
 12  fiSecondaryDesc           271971 non-null  object
 13  fiModelSeries             58667 non-null   object
 14  fiModelDescriptor         74816 non-null   object
 15  ProductSize               196093 non-null  object
 16  fiProductClassDesc        412698 non-null  object
 17  state                     412698 non-null  object
 18  ProductGroup              412698 non-null  object
 19  ProductGroupDesc          412698 non-null  object
 20  Drive_System              107087 non-null  object
 21  Enclosure                 412364 non-null  object
 22  Forks                     197715 non-null  object
 23  Pad_Type                  81096 non-null   object
 24  Ride_Control              152728 non-null  object
 25  Stick                     81096 non-null   object
 26  Transmission              188007 non-null  object
 27  Turbocharged              81096 non-null   object
 28  Blade_Extension           25983 non-null   object
 29  Blade_Width               25983 non-null   object
 30  Enclosure_Type            25983 non-null   object
 31  Engine_Horsepower         25983 non-null   object
 32  Hydraulics                330133 non-null  object
 33  Pushblock                 25983 non-null   object
 34  Ripper                    106945 non-null  object
 35  Scarifier                 25994 non-null   object
 36  Tip_Control               25983 non-null   object
 37  Tire_Size                 97638 non-null   object
 38  Coupler                   220679 non-null  object
 39  Coupler_System            44974 non-null   object
 40  Grouser_Tracks            44875 non-null   object
 41  Hydraulics_Flow           44875 non-null   object
 42  Track_Type                102193 non-null  object
 43  Undercarriage_Pad_Width   102916 non-null  object
 44  Stick_Length              102261 non-null  object
 45  Thumb                     102332 non-null  object
 46  Pattern_Changer           102261 non-null  object
 47  Grouser_Type              102193 non-null  object
 48  Backhoe_Mounting          80712 non-null   object
 49  Blade_Type                81875 non-null   object
 50  Travel_Controls           81877 non-null   object
 51  Differential_Type         71564 non-null   object
 52  Steering_Controls         71522 non-null   object
dtypes: float64(3), int64(5), object(45)
memory usage: 166.9+ MB

In [6]:
df.describe()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter
count,4.126980e+05,412698.000000,4.126980e+05,412698.000000,412698.000000,392562.000000,412698.000000,1.475040e+05
mean,2.011161e+06,31215.181414,1.230061e+06,6947.201828,135.169361,6.585268,1899.049637,3.522988e+03
std,1.080068e+06,23141.743695,4.539533e+05,6280.824982,9.646749,17.158409,292.190243,2.716993e+04
min,1.139246e+06,4750.000000,0.000000e+00,28.000000,121.000000,0.000000,1000.000000,0.000000e+00
25%,1.421898e+06,14500.000000,1.088593e+06,3261.000000,132.000000,1.000000,1985.000000,0.000000e+00
50%,1.645852e+06,24000.000000,1.284397e+06,4605.000000,132.000000,2.000000,1995.000000,0.000000e+00
75%,2.261012e+06,40000.000000,1.478079e+06,8899.000000,136.000000,4.000000,2001.000000,3.209000e+03
max,6.333349e+06,142000.000000,2.486330e+06,37198.000000,173.000000,99.000000,2014.000000,2.483300e+06

In [7]:
df=pd.read_csv("TrainAndValid.csv",parse_dates=(["saledate"]),low_memory=False)

In [8]:
df

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,Low,2006-11-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000.0,117657,77,121,3.0,1996,4640.0,Low,2004-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000.0,434808,7009,121,3.0,2001,2838.0,High,2004-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500.0,1026470,332,121,3.0,2001,3486.0,High,2011-05-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000.0,1057373,17311,121,3.0,2007,722.0,Medium,2009-07-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412693,6333344,10000.0,1919201,21435,149,2.0,2005,NaN,NaN,2012-03-07,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
412694,6333345,10500.0,1882122,21436,149,2.0,2005,NaN,NaN,2012-01-28,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
412695,6333347,12500.0,1944213,21435,149,2.0,2005,NaN,NaN,2012-01-28,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
412696,6333348,10000.0,1794518,21435,149,2.0,2006,NaN,NaN,2012-03-07,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
412697,6333349,13000.0,1944743,21436,149,2.0,2006,NaN,NaN,2012-01-28,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [9]:
df.sort_values(by=("saledate"),ascending=True,inplace=True)

In [10]:
df_tmp=df.copy()

In [11]:
df_tmp

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
205615,1646770,9500.0,1126363,8434,132,18.0,1974,NaN,NaN,1989-01-17,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,Straight,None or Unspecified,NaN,NaN
274835,1821514,14000.0,1194089,10150,132,99.0,1980,NaN,NaN,1989-01-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
141296,1505138,50000.0,1473654,4139,132,99.0,1978,NaN,NaN,1989-01-31,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,Straight,None or Unspecified,NaN,NaN
212552,1671174,16000.0,1327630,8591,132,99.0,1980,NaN,NaN,1989-01-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
62755,1329056,22000.0,1336053,4089,132,99.0,1984,NaN,NaN,1989-01-31,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,Lever,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410879,6302984,16000.0,1915521,5266,149,99.0,2001,NaN,NaN,2012-04-28,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN
412476,6324811,6000.0,1919104,19330,149,99.0,2004,NaN,NaN,2012-04-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
411927,6313029,16000.0,1918416,17244,149,99.0,2004,NaN,NaN,2012-04-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407124,6266251,55000.0,509560,3357,149,99.0,1993,NaN,NaN,2012-04-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409203,6283635,34000.0,1869284,4701,149,99.0,1000,NaN,NaN,2012-04-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional

In [12]:
df_tmp["saleYear"] = df_tmp.saledate.dt.year

In [13]:
# This will turn all of the string values into category values
for label, content in df_tmp.items():
    if pd.api.types.is_string_dtype(content):
        df_tmp[label] = content.astype("category").cat.as_ordered()

In [14]:
# Split data into training and validation
df_val = df_tmp[df_tmp.saleYear == 2012]
df_train = df_tmp[df_tmp.saleYear != 2012]
x_train, y_train = df_train.drop("SalePrice", axis=1), df_train.SalePrice
x_valid, y_valid = df_val.drop("SalePrice", axis=1), df_val.SalePrice

In [15]:
for label, content in df_tmp.items():
    if pd.api.types.is_numeric_dtype(content):
        print(label)

SalesID
SalePrice
MachineID
ModelID
datasource
auctioneerID
YearMade
MachineHoursCurrentMeter
saleYear

In [16]:
x_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear
205615,1646770,1126363,8434,132,18.0,1974,NaN,NaN,1989-01-17,TD20,...,NaN,NaN,NaN,NaN,None or Unspecified,Straight,None or Unspecified,NaN,NaN,1989
274835,1821514,1194089,10150,132,99.0,1980,NaN,NaN,1989-01-31,A66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,1989
141296,1505138,1473654,4139,132,99.0,1978,NaN,NaN,1989-01-31,D7G,...,NaN,NaN,NaN,NaN,None or Unspecified,Straight,None or Unspecified,NaN,NaN,1989
212552,1671174,1327630,8591,132,99.0,1980,NaN,NaN,1989-01-31,A62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,1989
62755,1329056,1336053,4089,132,99.0,1984,NaN,NaN,1989-01-31,D3B,...,NaN,NaN,NaN,NaN,None or Unspecified,PAT,Lever,NaN,NaN,1989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393098,6260687,1074871,4331,149,2.0,1000,NaN,NaN,2011-12-30,IT28B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2011
400217,6312170,1812622,9580,149,2.0,2005,NaN,NaN,2011-12-30,T190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
400302,6312727,1811599,9580,149,2.0,2005,NaN,NaN,2011-12-30,T190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
400393,6315051,1858173,17432,149,2.0,2004,NaN,NaN,2011-12-30,LB75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
393123,6260878,1799594,4102,149,2.0,1000,NaN,NaN,2011-12-30,D4C,...,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN,2011

In [17]:
x_valid

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear
405675,4449186,2318824,26964,173,99.0,1996,0.0,NaN,2012-01-01,D65E12,...,NaN,NaN,NaN,NaN,None or Unspecified,None or Unspecified,None or Unspecified,NaN,NaN,2012
401133,1222855,531393,23926,121,3.0,1000,8145.0,Low,2012-01-04,12HNA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
406076,6258613,1810917,13260,149,99.0,2000,24.0,Low,2012-01-04,590SUPER LII,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
409018,6282680,1543404,1830,149,99.0,2004,4373.0,Medium,2012-01-04,120C,...,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2012
409026,6282759,1863077,11390,149,99.0,2006,3467.0,Medium,2012-01-04,160CLC,...,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410879,6302984,1915521,5266,149,99.0,2001,NaN,NaN,2012-04-28,D38E,...,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN,2012
412476,6324811,1919104,19330,149,99.0,2004,NaN,NaN,2012-04-28,2064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
411927,6313029,1918416,17244,149,99.0,2004,NaN,NaN,2012-04-28,337G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
407124,6266251,509560,3357,149,99.0,1993,NaN,NaN,2012-04-28,12G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
409203,6283635,1869284,4701,149,99.0,1000,NaN,NaN,2012-04-28,544H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2012

In [18]:
# Fill numeric rows with the median
for label, content in x_train.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            # Add a binary column which tells if the data was missing our not
           # x_train[label+"_is_missing"] = pd.isnull(content)
            # Fill missing numeric values with median since it's more robust than the mean
            x_train[label] = content.fillna(content.median())
            # Turn categorical variables into numbers
    if not pd.api.types.is_numeric_dtype(content):
        # Add binary column to inidicate whether sample had missing value
       # df_tmp[label+"_is_missing"] = pd.isnull(content)
        # We add the +1 because pandas encodes missing categories as -1
        x_train[label] = pd.Categorical(content).codes+1

In [19]:
x_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear
205615,1646770,1126363,8434,132,18.0,1974,0.0,0,1,4593,...,0,0,0,0,1,8,6,0,0,1989
274835,1821514,1194089,10150,132,99.0,1980,0.0,0,2,1820,...,0,0,0,0,0,0,0,4,2,1989
141296,1505138,1473654,4139,132,99.0,1978,0.0,0,2,2348,...,0,0,0,0,1,8,6,0,0,1989
212552,1671174,1327630,8591,132,99.0,1980,0.0,0,2,1819,...,0,0,0,0,0,0,0,4,2,1989
62755,1329056,1336053,4089,132,99.0,1984,0.0,0,2,2119,...,0,0,0,0,1,6,5,0,0,1989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393098,6260687,1074871,4331,149,2.0,1000,0.0,0,3919,3137,...,0,0,0,0,0,0,0,4,2,2011
400217,6312170,1812622,9580,149,2.0,2005,0.0,0,3919,4514,...,0,0,0,0,0,0,0,0,0,2011
400302,6312727,1811599,9580,149,2.0,2005,0.0,0,3919,4514,...,0,0,0,0,0,0,0,0,0,2011
400393,6315051,1858173,17432,149,2.0,2004,0.0,0,3919,3389,...,0,0,0,0,0,0,0,0,0,2011
393123,6260878,1799594,4102,149,2.0,1000,0.0,0,3919,2161,...,0,0,0,0,1,6,6,0,0,2011

In [20]:
# Fill numeric rows with the median
for label, content in x_valid.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            # Add a binary column which tells if the data was missing our not
           # x_train[label+"_is_missing"] = pd.isnull(content)
            # Fill missing numeric values with median since it's more robust than the mean
            x_valid[label] = content.fillna(content.median())
            # Turn categorical variables into numbers
    if not pd.api.types.is_numeric_dtype(content):
        # Add binary column to inidicate whether sample had missing value
       # df_tmp[label+"_is_missing"] = pd.isnull(content)
        # We add the +1 because pandas encodes missing categories as -1
        x_valid[label] = pd.Categorical(content).codes+1

In [21]:
x_valid

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear
405675,4449186,2318824,26964,173,99.0,1996,0.0,0,1,2269,...,0,0,0,0,1,5,6,0,0,2012
401133,1222855,531393,23926,121,3.0,1000,8145.0,2,2,85,...,0,0,0,0,0,0,0,0,0,2012
406076,6258613,1810917,13260,149,99.0,2000,24.0,2,2,1115,...,0,0,0,0,0,0,0,0,0,2012
409018,6282680,1543404,1830,149,99.0,2004,4373.0,3,2,64,...,29,3,2,1,0,0,0,0,0,2012
409026,6282759,1863077,11390,149,99.0,2006,3467.0,3,2,139,...,29,3,2,1,0,0,0,0,0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410879,6302984,1915521,5266,149,99.0,2001,3786.0,0,94,2101,...,0,0,0,0,1,6,6,0,0,2012
412476,6324811,1919104,19330,149,99.0,2004,3786.0,0,94,240,...,0,0,0,0,0,0,0,0,0,2012
411927,6313029,1918416,17244,149,99.0,2004,3786.0,0,94,627,...,0,0,0,0,0,0,0,0,0,2012
407124,6266251,509560,3357,149,99.0,1993,3786.0,0,94,83,...,0,0,0,0,0,0,0,0,0,2012
409203,6283635,1869284,4701,149,99.0,1000,3786.0,0,94,989,...,0,0,0,0,0,0,0,4,2,2012

In [23]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_jobs=-1,random_state=42)
%time
model.fit(x_train,y_train)

Wall time: 0 ns

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [24]:
#creating evalution function 
from sklearn.metrics import mean_squared_log_error,r2_score,mean_absolute_error
def rmsle(y_test,y_preds):
    return(np.sqrt(mean_squared_log_error(y_test,y_preds)))

In [27]:
def score(model):
    train_preds=model.predict(x_train)
    val_preds=model.predict(x_valid)
    score={"Training MAE":mean_absolute_error(y_train,train_preds),"Validation MAE":mean_absolute_error(y_valid,val_preds),
          "Training R2":r2_score(y_train,train_preds),"Validation R2":r2_score(y_valid,val_preds),
           "Training RMSLE":rmsle(y_train,train_preds),"Validation RMSLE":rmsle(y_valid,val_preds)}
    return score

In [28]:
score(model)

{'Training MAE': 1561.3578258148957,
 'Validation MAE': 16947.522354618508,
 'Training R2': 0.9877948175787151,
 'Validation R2': 0.2646503336210807,
 'Training RMSLE': 0.08335905565075863,
 'Validation RMSLE': 0.5802667189179187}

In [29]:
model2=RandomForestRegressor(n_jobs=-1,random_state=42,max_samples=10000)
%time
model2.fit(x_train,y_train)
score(model2)

Wall time: 0 ns

{'Training MAE': 5361.027580031161,
 'Validation MAE': 14635.585149917912,
 'Training R2': 0.8688465168746909,
 'Validation R2': 0.4527615207014791,
 'Training RMSLE': 0.25100929441210257,
 'Validation RMSLE': 0.5329874185537314}

In [40]:
from sklearn.model_selection import RandomizedSearchCV
rf_grid={"n_estimators": np.arange(10,100,10),"max_depth": [None,3,5,10],"min_samples_split": np.arange(2,20,2),"min_samples_leaf": np.arange(1,20,2),"max_features":[0.5,1,"sqrt","auto"]}

In [41]:
model3=RandomizedSearchCV(RandomForestRegressor(n_jobs=-1,random_state=42),param_distributions=rf_grid,n_iter=2,cv=5,verbose=True)
model3.fit(x_train,y_train)

Fitting 5 folds for each of 2 candidates, totalling 10 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:  9.5min finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100, n_jobs=-1,
                                                   oob_score=False,...
                   iid='deprecated', n_iter=2, n_jobs=None,
                   param_distributions={'max_depth': [None, 3, 5, 10],
                                        'max_features': [0.5, 1, 'sqrt',
                                                         'auto'],
                                        'min_samples_leaf': array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19]),
                                        'min_samples_split': array([ 2,  4,  6,  8, 10, 12, 14, 16, 18]),
                                        'n_estimators': array([10, 20, 30, 40, 50, 60, 70, 80, 90])},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=True)

In [42]:
model3.best_params_

{'n_estimators': 80,
 'min_samples_split': 8,
 'min_samples_leaf': 7,
 'max_features': 'auto',
 'max_depth': None}

In [43]:
score(model3)

{'Training MAE': 3351.656175272723,
 'Validation MAE': 17300.645033400993,
 'Training R2': 0.944027557766446,
 'Validation R2': 0.21439278074547696,
 'Training RMSLE': 0.16520550130165085,
 'Validation RMSLE': 0.5788023312249138}

In [44]:
model4=RandomForestRegressor(n_estimators= 80,
 min_samples_split= 8,
 min_samples_leaf= 7,
 max_features= 'auto',
 max_depth= None)
model4.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=7,
                      min_samples_split=8, min_weight_fraction_leaf=0.0,
                      n_estimators=80, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [45]:
score(model4)

{'Training MAE': 3353.583144420441,
 'Validation MAE': 17361.27778185027,
 'Training R2': 0.9440143463165892,
 'Validation R2': 0.20529858253847733,
 'Training RMSLE': 0.1652574139315654,
 'Validation RMSLE': 0.578711214433563}

In [59]:
df_test=pd.read_csv("Test.csv",low_memory=False,parse_dates=(["saledate"]))

In [60]:
df_test["saleYear"] = df_test.saledate.dt.year
for label, content in df_test.items():
        if pd.api.types.is_numeric_dtype(content):
            if pd.isnull(content).sum():
               # df[label+"_is_missing"] = pd.isnull(content)
                df_test[label] = content.fillna(content.median())
                
        # Turn categorical variables into numbers
        if not pd.api.types.is_numeric_dtype(content):
            #df[label+"_is_missing"] = pd.isnull(content)
            # We add the +1 because pandas encodes missing categories as -1
            df_test[label] = pd.Categorical(content).codes+1

In [61]:
df_test

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear
0,1227829,1006309,3168,121,3,1999,3688.0,2,3,499,...,0,0,0,0,0,0,0,0,0,2012
1,1227844,1022817,7271,121,3,1000,28555.0,1,9,831,...,0,0,0,0,0,0,0,3,2,2012
2,1227847,1031560,22805,121,3,2004,6038.0,3,9,1177,...,17,2,1,1,0,0,0,0,0,2012
3,1227848,56204,1269,121,3,2006,8940.0,1,9,287,...,20,2,2,2,0,0,0,0,0,2012
4,1227863,1053887,22312,121,3,2005,2286.0,2,9,566,...,0,0,0,0,1,4,5,0,0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12452,6643171,2558317,21450,149,2,2008,3525.0,0,126,713,...,20,3,1,1,0,0,0,0,0,2012
12453,6643173,2558332,21434,149,2,2005,3525.0,0,126,186,...,20,3,1,1,0,0,0,0,0,2012
12454,6643184,2558342,21437,149,2,1000,3525.0,0,126,325,...,20,3,1,1,0,0,0,0,0,2012
12455,6643186,2558343,21437,149,2,2006,3525.0,0,126,325,...,20,3,1,1,0,0,0,0,0,2012
12456,6643196,2558346,21446,149,2,2008,3525.0,0,100,483,...,20,3,1,1,0,0,0,0,0,2012

In [62]:
set(df_test.columns)-set(df_train.columns)

set()

In [63]:
test=model4.predict(df_test)

array([33057.47984852, 20487.25957829, 91555.09425962, ...,
       15657.33465991, 21072.36191544, 29207.21175047])

In [69]:
df=pd.DataFrame()
df["SaleId"]=df_test["SalesID"]
df["SalePrice"]=test
df

        SaleId     SalePrice
0      1227829  33057.479849
1      1227844  20487.259578
2      1227847  91555.094260
3      1227848  96960.727054
4      1227863  60712.092580
...        ...           ...
12452  6643171  70448.436727
12453  6643173  18195.799740
12454  6643184  15657.334660
12455  6643186  21072.361915
12456  6643196  29207.211750

[12457 rows x 2 columns]